html{font-size:17px;}
body{font-family:sans-serif;width:80%;margin:2% auto;background-color:#f0f8ff;line-height:120%;}
h1{font-size:150%;text-align:center;}
h2{font-size:130%;color:#fff;padding-left:1%;padding-right:1%;background-color:#696969;height:36px;line-height:normal;}
h2:before{content:"◆";font-size:100%;left:0;top:0;color:#5ab9ff;}
h3{font-size:120%;margin:0.5em 0;}
p{margin:0.5em 0;}
li{margin: 0.5em 0px;}
.tc{display:flex;flex-wrap:wrap;justify-content:center;background-color:#000;}
.tc button{color:#fff;font-size:100%;font-weight:bold;text-align:center;height:40px;background-color:#000;border:none;margin:0px 1px;width:fit-content;padding:0px 20px;}
.tc button:hover{background-color:#696969;}
.ac{border:solid 1px #00f;background-color:#DEF;margin:0.5% 1%;padding:0.5% 1%;height:fit-content;margin-bottom:1%;}
.ac .d{font-size:50%;}
.ud{margin:0 auto;width:98%;}
.ud .ib span{font-size:120%;font-weight:bold;}
.gpc{display:flex;flex-wrap:wrap;padding:0% 0.5%;height:fit-content;margin-bottom:1%;justify-content:center;}
.gpc .e{border:solid 1px #000;background-color:#DDD;height:fit-content;width:270px;margin:0.2%;padding:0.5% 1%;}
.gpc .e a{text-decoration-line:none;color:#000;}
.gpc .e p{height:80px;}
.gc{display:flex;flex-wrap:wrap;padding:0% 0.5%;height:fit-content;margin-bottom:1%;justify-content:center;}
.gc .e{border:solid 1px;background-color:#FFF;margin:0.25% 0.5%;padding:0.5% 1%;width:550px;height:fit-content;margin-bottom:1%;}
.gc .e a{text-decoration-line:none;color:#000;}
.gc .e .p1{height:70px;}
.gc .e .p2{height:20px;}
.rc{display:flex;flex-wrap:wrap;padding:0% 0.5%;height:fit-content;margin-bottom:1%;justify-content:center;}
.rc .e{display:flex;justify-content:center;border:solid 1px;background-color:#FFF;margin:0.25% 0.5%;padding:0.5% 1%;width:550px;height:50px;margin-bottom:1%;}
.rc .e .r{font-size:200%;font-weight:bold;width:20%;margin:auto 0;}
.rc .e .n{font-size:130%;font-weight:bold;width:50%;margin:auto 0;}
.rc .e .v{font-size:110%;font-weight:bold;text-align:right;width:20%;margin:auto 0;}
.rcd{text-align:center;font-weight:bold;}
.jb{display:none;}
.ho{display:flex;flex-wrap:wrap;margin:1% 0;height:fit-content;}
.ho .c{margin-left:10px;}
td{border-bottom:solid 1px #000;}
.ib{display:inline-block;}
.cr{font-size:70%;text-align:center;}

@media screen and(max-width:1059px){
  html{text-size-adjust:100%;font-size:4vw!important;}
  body{width:95%;}
  h1{font-size:110%;}
  h2{font-size:120%;padding-left:3%;padding-right:3%;height:fit-content;}
  h3{font-size:110%;line-height:130%;}
  .tc button{font-size:110%;height:fit-content;margin:0px 2px;padding:5px 10px;}
  .ac{padding:1% 2%;}
  .ac .d{font-size:70%;}
  .gpc{padding:0% 1%;}
  .gpc .e{width:100%;margin:0.5%;padding:1% 2%;}
  .gpc .e p{height:fit-content;}
  .gc{padding:0% 1%;margin-bottom:2%;}
  .gc .e{margin:0.5% 1%;padding:1% 2%;width:100%;margin-bottom:2%;}
  .gc .e .p1{height:fit-content;}
  .gc .e .p2{height:fit-content;}
  .rc{padding:0% 1%;margin-bottom:2%;}
  .rc .e{margin:0.5% 1%;padding:1% 2%;width:100%;min-height:2.5rem;height:fit-content;margin-bottom:2%;}
  .rc .e .r{font-size:150%;}
  .rc .e .n{font-size:120%;}
  .rc .e .v{font-size:105%;width:30%;}
}
