html {
  font-size: 18px;
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
  html { font-size: 32px; }
}

.horizontal {
  display: flex;
}

.horizontal .child {
  margin-left: 10px;
}